.conquer {
    background-image: url('../images/bg-1.jpg');
    background-position: center bottom;
    background-size: cover;
    height: 70vh;
}
.conquer h1 {
    text-shadow: 2px 2px 1px #000;
}

.services {
    background-image: url('../images/bg-2.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
}
.services h2 {
    text-shadow: 2px 2px 1px #000;
}